<ion-header>
  <ion-toolbar>
    <ion-title>
      Search
    </ion-title>
  </ion-toolbar>
  <ion-toolbar>
    <ion-searchbar
      inputmode="search"
      debounce="250"
      placeholder="Search meme"
      [(ngModel)]="searchTerm"
      (ionChange)="searchMeme()"
      animated
    ></ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div
    class="ion-padding ion-text-center"
    *ngIf="(searchResult | async)?.matches === 0"
  >
    <ion-note>No memes found</ion-note>
  </div>

  <ion-list *ngIf="isLoading">
    <ion-item *ngFor="let item of [0, 1, 2, 3, 4, 5]">
      <ion-label>
        <ion-skeleton-text animated style="width: 20%;"></ion-skeleton-text>
        <p>
          <ion-skeleton-text animated></ion-skeleton-text>
          <ion-skeleton-text animated style="width: 80%;"></ion-skeleton-text>
        </p>
        <p>
          <ion-skeleton-text animated style="width: 50%;"></ion-skeleton-text>
        </p>
      </ion-label>
    </ion-item>
  </ion-list>

  <ion-card
    *ngFor="let meme of (searchResult | async)?.results"
    (click)="openDetails(meme.url)"
  >
    <ion-card-header>
      <ion-card-title>{{ meme.name }}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-img [src]="meme.icon_url" [alt]="meme.name"></ion-img>
    </ion-card-content>
  </ion-card>
</ion-content>
